<!DOCTYPE html>
<html>
  <head>
    <title>APSVRecoginiser</title>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#6fd962">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/mobile.css' />
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
  </head>
  <body>
  	<div id="header">
    	<a href="/"><img id="logo-home" src="/images/logo.png"></a>
  	</div>
    <div id="container">
	    <div id="nav-bar">
	    	<ul>
	    		<li><a href="/gallery"><i class="fa fa-image"></i> My gallery</a></li>
	    		<li><a href="/gallery/new"><i class="fa fa-cloud-upload"></i> Upload new photo</a></li>
	    	</ul>
	    </div>
	    <div id="container-body"><%- body %></div>
    </div>
  </body>
</html>
