<form action="http://10.1.2.1/tracks" method="post" enctype="multipart/form-data">  
  <label class="upload_field">Upload a new track:</label>
  <label class="upload_field">Select your track:</label>
  <input class="upload_field" type="file" name="track"/>
  <label class="upload_field">Select cover file: (optional)</label>
  <input class="upload_field" type="file" name="image"/>
  <button id="btn-upload" class="hint upload_field" type="submit">Upload</button>
  <span class="hint upload_field">Supported files: MP3, Wav, and Ogg</span>
</form>
